* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #eab860;
    color: #333;
}

header {
    background-color: #ffc400;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-img {
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007acc;
}
/* General styling for the navigation */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative; /* Important for dropdown positioning */
    margin-left: 20px;
}

/* Styling for dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Aligns below the parent menu item */
    left: -20px;
    background-color: #17151590;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: #fff;
}

/* Show the dropdown content when hovering over the "Services" menu */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Styling for the links inside dropdown */
.dropdown-content li {
    margin: 30px 60px;
}

.dropdown-content li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.dropdown-content li a:hover {
    color: #007acc;
}

/* Hover effect for the main navigation items */
nav ul li a:hover {
    color: #007acc;
}


.hero {
    background: url('eng.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 210px 355px;
    border-radius: 5px;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

.hero p {
    font-size: 15px;
    margin-bottom: 70px;
    color: #c7c9c7;
}

.btn {
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    
}

.section-about, .section-services {
    padding: 60px 20px;
    background-color: #13004f;
    text-align: center;
}

.about-content, .service-card {
    margin-bottom: 30px;
}

.about-img, .service-img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
