/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Main container */
.dashboard-container {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: #254c6a;
    color: white;
    width: 250px;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    color: #218540;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    color: #891c1f;
}

/* Main content */
.content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 250px);
}

.content h2 {
    color: #111827;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.content p {
    color: #254c6a;
    line-height: 1.6;
}
